.home-img {
    max-width: 30%;
    margin: 2rem;
}
.home-img-mobile {
    width: 100%;
    margin-top: 2rem;
}

.home-description-img {
    width: 30%;
    margin: 1rem;
    cursor: pointer;
}
.description-img {
    width: 30%;
    margin: 1rem;
}
.description-img-mobile {
    width: 100%;
    margin: 1rem;
}

.shadow-img {
    border-radius: 4px;
    box-shadow: 0 0 10px 0px;
}

.navbar-img {
    object-fit: contain;
    height: 80%;
    cursor: pointer;
}

.zoom-in {
    animation: zoom-in 200ms;
}
.zoom-out {
    animation: zoom-out 200ms;
}

@keyframes zoom-in {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(90%);
    }
}

@keyframes zoom-out {
    0% {
        transform: scale(90%);
    }
    100% {
        transform: scale(100%);
    }
}
